// Common
// _____________________________________________

  .header-after {
      padding: 20px;
      color: #fff;
      background: white;
    //border-bottom: 0px solid #f7a0a1; /* Slightly darker border for definition */

      .header-block-container {
          a, a:visited {
              color: #f9cde8;
              text-decoration: none; /* Ensure links are not underlined */
          }
          .shop-deals {
              font-size: 26px;
              float: right;
              font-weight: 600;
          }
          .deliver {
              display: inline-block;
              padding-top: 15px;
              font-size: 14px; /* Consistent font size */
          }
      }
  }




.top-nav {
    background-color: #333;
    color: #fff;
}

.top-nav a {
    color: #fff;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

.top-nav a:hover {
    background-color: #ffffff;
}


.header.content {
    max-width: none !important;
    background: #f0f4f3; /* Background color for header */
    color: #fcfdfc !important; /* Darker text color */
}

.page-header .panel.wrapper {
    border-bottom: 0px solid #e8e8e8;
    background-color: #fdfdfd;/* Background color for top panel */
    color: #f0f0f0; /* Text color */
}

.page-header .panel.header {
    padding: 10px 0; /* Adjust padding for header elements */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .customer-menu {
    background-color: #f9f9f9; /* Lighter background for the customer menu */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.header .customer-menu a {
    color: #88d57b; /* Darker text color */
    padding: 10px 15px;
}

.header .customer-menu a:hover {
    background-color: #f0f0f0; /* Background on hover */
}

.page-header .welcome {
    font-size: 16px;
    color: #fcfbfb;
    padding-right: 20px;
}

.page-header .customer-welcome .customer-name {
    font-weight: bold;
    color: #e4ece6; /* Modify as per your design */
}

.page-header .customer-welcome .action.switch {
    background: #a1d893; /* Button background color */
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.page-header .customer-welcome .action.switch:hover {
    background: #99e1ac; /* Darken color on hover */
}
