/* custom.css */

.header-top {
    background-color: #f8f8f8;
    padding: 10px 0;
}

.header-top .welcome-msg {
    color: black;
    font-size: 14px;
}

.header-top .links {
    text-align: right;
}

.header-top .links a {
    color: black;
    margin-left: 15px;
    text-decoration: none;
    font-size: 14px;
}

.header-top .links a:hover {
    text-decoration: underline;
}
