// Common
// _____________________________________________

  .header-after {
      padding: 20px;
      color: #fff;
      background: white;
    //border-bottom: 0px solid #f7a0a1; /* Slightly darker border for definition */

      .header-block-container {
          a, a:visited {
              color: #f9cde8;
              text-decoration: none; /* Ensure links are not underlined */
          }
          .shop-deals {
              font-size: 26px;
              float: right;
              font-weight: 600;
          }
          .deliver {
              display: inline-block;
              padding-top: 15px;
              font-size: 14px; /* Consistent font size */
          }
      }
  }




.top-nav {
    background-color: #333;
    color: #fff;
}

.top-nav a {
    color: #fff;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

.top-nav a:hover {
    background-color: #ffffff;
}


.header.content {
    max-width: none !important;
    background: #f0f4f3; /* Background color for header */
    color: #fcfdfc !important; /* Darker text color */
}

